{{>adminNavbar}}
<section class=" admin-section d-flex gap-5">
  {{>adminSideBar}}
  <div class="vw-100 main px-5 pt-5 content-admin justify-content-center">
    <div class=" container-fluid p-5 mt-2 mb-5 box-shadow">
      <div class="container border-primary">
        <h1 class=" my-4 text-center">Customer Details</h1>
        <div class="table-responsive">
          <table class="table table-hover table-bordered py-4 mb-3" id="userTable">
            <thead class="bg-dark text-white">
              <tr>
                <th class="p-2 px-3" scope="col">ID</th>
                <th class="p-2 px-3" scope="col">Name</th>
                <th class="p-2 px-3" scope="col">Email</th>
                <th class="p-2 px-3" scope="col">Manage User</th>
              </tr>
            </thead>
            {{#each usersData}}
            <tbody>
              {{#if this.blocked}}
              <tr class="bg-secondary bg-gradient">
                {{else}}
              <tr>
                {{/if}}
                <td class="p-2">{{_id}}</td>
                <td class="p-2">{{name}}</td>
                <td class="p-2">{{email}}</td>

                {{#if this.blocked}}
                <!---=============== Block user ==============--->

                <td class="p-2 d-flex justify-content-center">
                  <a role="button" data-bs-toggle="modal" class="opendatamodal" data-email="{{this.email}}"
                    data-bs-target="#Unblockuser">
                    <button type="button" style="width: 5rem;"
                      class="btn btn-success p-1"><small>Unblock</small></button>
                  </a>
                </td>

                <!---===  Unblock user modal ===--->

                <div class="modal fade " id="Unblockuser" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class=" d-flex justify-content-center align-items-center modal-dialog-centered">
                    <div class="modal-dialog bg-success">
                      <div class="modal-content p-4">
                        <div class="modal-header p-2">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Unblock User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/admin/unBlockUser" method="post">
                          <div class="modal-body p-3">
                            <input type="text" class="d-none selection" name="email" value="">
                            <p>Are you sure? Unblock customer with Email ID</p>
                            <input type="text" class="border-0 selection " name="email" value="" disabled>

                          </div>
                          <div class="modal-footer p-2">
                            <button type="button" class="btn btn-secondary  p-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success mx-4 px-4 p-2">Unblock</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <!---=============== Unblock user ==============--->

                <td class="p-2 d-flex justify-content-center">
                  <a role="button" data-bs-toggle="modal" class="opendatamodal" data-email="{{this.email}}"
                    data-bs-target="#blockuser">
                    <button type="button" style="width: 5rem;" class="btn btn-danger p-1"><small>Block</small></button>
                  </a>
                </td>
                <!---===  Block user modal ===--->

                <div class="modal fade " id="blockuser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                  <div class=" d-flex justify-content-center align-items-center modal-dialog-centered">
                    <div class="modal-dialog bg-success">
                      <div class="modal-content p-4">
                        <div class="modal-header p-2">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel1">Block User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/admin/blockUser" method="post">
                          <div class="modal-body p-3">
                            <input type="text" class="d-none selection" name="email" value="">
                            <p>Are you sure? Block customer with Email ID
                              <input type="text" class="border-0 selection " name="email" value="" disabled>
                            </p>
                          </div>
                          <div class="modal-footer p-2">
                            <button type="button" class="btn btn-secondary  p-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger mx-4 px-4 p-2">Block</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                {{/if}}
              </tr>

            </tbody>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>