{{>userNavbar}}



{{#if cartProducts}}
<section class="contents py-2 px-5">
    <div class="container ">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0 ">Cart - {{totalItems}} items</h5>

                    </div>

                    <!-- Single item -->
                    {{#each cartProducts }}
                    {{#if product.active}}
                    <div class="card-body d-sm-px-5 d-px-2">
                        <div class="row card-body border rounded" id="single-cart-item{{productId}}">
                            <div class="col-lg-3 d-flex  align-items-center   col-md-12 mb-4  mb-lg-0">
                                <!-- Image -->
                                <a class="bg-image col-lg-3 col-md-12   mb-lg-0 " href="/product/{{productId}}">
                                    {{#each product.images}}
                                    {{#if @first}}
                                    <img src="/images/{{filename}}" class="  img-fluid rounded"
                                        style="max-width:10rem; max-height:12rem; " />
                                </a>
                                {{/if}}
                                {{/each}}
                            </div>
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{product.name}}</strong></p>
                                <p> <small> {{category}} </small> </p>
                                <p class="text-start ">
                                    <strong>₹ <span id="price{{product._id}}">{{amount}}</span> </strong>
                                </p>
                                <p>Size: {{product.size}}</p>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-danger btn-sm mb-2 d-flex gap-1"
                                        data-mdb-toggle="tooltip" title="Move to the wish list">
                                        <span class="material-icons-sharp">
                                            favorite_border
                                        </span> Move to Wishlist </button>

                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex mb-4  justify-content-center  ">
                                <!-- Quantity -->


                                <div class="d-flex mb-4 align-items-center justify-content-center "
                                    style="max-width: 300px ">

                                    <button class="btn p-0 reduce-item-quantity{{product._id}} "
                                        onclick="decCount('{{product._id}}',-1)">
                                        <span class="material-icons-sharp">remove</span>
                                    </button>

                                    <div class=" w-50 p-2 ">
                                        <input id="{{product._id}}" min="1" name="quantity" value="{{quantity}}"
                                            type="number" class="form-control" disabled />
                                    </div>

                                    <button class="btn  p-0" onclick="addCount('{{product._id}}',1)">
                                        <span class="material-icons-sharp">add</span>
                                    </button>

                                </div>

                                <button onclick="deleteCartProduct('{{product._id}}')" class="btn align-self-start p-0">
                                    <span class="material-icons-sharp text-secondary">
                                        delete
                                    </span>
                                </button>

                            </div>

                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                <!-----inactive products------>

                {{#each cartProducts }}
                {{#unless product.active}}
                <div class="card-body p-5 border">
                    <div class="row card-body border  p-2 rounded" id="single-cart-item{{productId}}">
                        <div class="col-lg-4 d-flex  align-items-center   col-md-12 mb-4  mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image col-lg-3 col-md-12   mb-lg-0 ">
                                {{#each product.images}}
                                {{#if @first}}
                                <img src="/images/{{filename}}" class="  img-fluid rounded"
                                    style="max-width:10rem; max-height:12rem; " />
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                            <!-- Data -->
                            <p><strong>{{product.name}}</strong></p>
                            <p> <small> {{category}} </small> </p>
                            <p class="text-start ">
                                <strong>₹ <span id="price{{product._id}}">{{product.price}}</span> </strong>
                            </p>
                            <p>Size: {{product.size}}</p>
                        </div>
                        <div
                            class="col-lg-5 col-md-6 mb-4 mb-lg-0 text-danger d-flex mb-4 align-items-center justify-content-center  ">
                            <!-- Quantity -->
                            <h3>Currently not available</h3>

                            <button onclick="deleteCartProduct('{{product._id}}')" class="btn align-self-start p-0">
                                <span class="material-icons-sharp text-secondary">
                                    delete
                                </span>
                            </button>

                        </div>

                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col-md-4 position-sticky top-5">
                {{#if validItems}}
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                {{#each totalCost}}
                                <span> ₹ <span class="totalcost">{{totalCost}}</span></span>
                                {{/each}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Free</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including GST)</p>
                                    </strong>
                                </div>
                                <strong>
                                    {{#each totalCost}}
                                    ₹ <span class="totalcost"> {{totalCost}}</span>
                                    {{/each}}
                                </strong>
                            </li>
                        </ul>

                        <a class="btn btn-dark  py-1 d-flex gap-3 align-items-center justify-content-center"
                            href="/checkout">
                            <span class="material-icons-sharp">shopping_cart_checkout</span>
                            Proceed to checkout
                        </a>


                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>

{{else}}

<section class="page-wrap vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                <span class="display-1 d-block">
                    Your Cart
                </span>
                <div class="mb-4 lead">Looks like your cart is empty</div>
                <div class="mb-4">

                    <a href="/" class="btn btn-dark   text-white m-auto d-flex gap-1" style="max-width: 15rem;">
                        <span class="material-icons-sharp">keyboard_backspace</span>
                        Continue shopping</a>
                </div>
            </div>
        </div>
</section>
{{/if}}