{{>userNavbar}}


<section class="contents py-3 px-5">

  <div class="container   row justify-content-between ">  
{{#if orderDetails}}
<div class=" col-lg-8">
    <form  id="placeOrderForm">

      {{#if userAddress}}
      <h3>Select Delivery Address</h3>
      <div class="">
        {{#each userAddress}}
        <div class="card   d-flex gap-2 align-items-start flex-row  m-3 box-shadow p-3">
          <input class="m-1" type="radio"   name="address" value="{{_id}}" id="addresscheckbox" required>
          <div class=" ">
            <div class=" ">
              <p class="m-0 px-1 pb-1">{{ name }} </p>
              <p class="m-0 px-1 "> {{ phone}}</p>
            </div>
            <div class="d-flex  ">
              <p class="p-1 m-0"> {{street}} , {{city}} , {{state}} , {{pin_code}} </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
      <div class="container mx-0 my-4  p-2 border border-secondary box-shadow rounded ">
        <a class="btn btn-outline-dark d-flex p-3" href="/addAddress" role="button"><span
            class="material-icons-sharp">add</span> Add New address</a>

      </div>
  </div>
 
  <div class="col-lg-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your order</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3 ">
        <li>
          <div class="card p-2 mb-1">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-danger">Redeem</button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="list-group-item d-flex justify-content-between bg-light mb-1">
            <div class="text-Danger">
              <h6 class="my-0">Promo code</h6>
              <small>Couponcode</small>
            </div>
            <span class="text-danger">₹ </span>
          </div>
        </li>
        {{#each orderDetails}}
        <li class="list-group-item d-flex justify-content-between">
          <span>{{truncate product.name 15}} x {{quantity}}(Qty)</span>
          <strong>₹ {{amount}} </strong>
        </li>
        {{/each}}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total </span>
          <strong>₹ {{totalCost}}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>shipping </span>
          <span>₹ <span class="text-decoration-line-through text-muted text-light">45</span>Free</span> 
        </li>
        <li class="list-group-item  d-flex justify-content-between">
          <span>Amount Payable </span>
          <strong>₹ {{totalCost}}</strong>
        </li>
        <li>
          <div class="list-group-item card justify-content-between mt-1 p-3">
            <h5 class="">Payment</h5>
            <div class="custom-control d-flex custom-radio  p-2 mb-1 border gap-2 rounded">
              <input id="cod" name="paymentMethod" type="radio" value="cash_on_delivery" class="custom-control-input"
                 required>
              <label class="custom-control-label" for="cod">COD</label>
            </div>
            <div class="custom-control d-flex custom-radio  p-2 border gap-2 rounded">
              <input id="online" name="paymentMethod" type="radio" value="online_payment" class="custom-control-input">
              <label class="custom-control-label " for="online">Online Payment</label>
            </div>
           
          </div>
        </li>
                        
        <div class="card mt-1 p-2">
          <button class="btn btn-dark d-flex justify-content-center"  type="submit"><span id="btn_submit" >Place Order</span>
<span class="spinner-border text-white" id="spinner_checkout"style="display:none"  role="status">
                        </span>

          </button>
        </div>
      </ul>
</form>
    </div>
  </div>
  {{else}}
  <div class="text-secondary"><h2>NO orders</h2></div>
  {{/if}}
   <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2023-2024 loko</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</section>






