<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    #product-img {
        max-width: 100%;
        height: auto;
    }
    .container{
        background-color: white;
    }
    .zoom-container {
        max-width: 100%;
        position: relative;
    }

    .product-image-container {
        width: 300px;
    }

    @media screen and (max-width: 768px) {
        .zoom-container {
            display: none;
        }
    }
</style>

{{>userNavbar}}
<!-------------Product view ------------>
<section class="contents p-lg-5 p-1">
    <div class="container p-1 px-lg-5  border rounded">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 col-12">
                <div class="images p-3">
                    {{#each productdetails.images}}
                    {{#if @first}}
                    <div class="text-center p-4"> <img id="product-img" src="{{path}}" />
                    </div>
                    {{/if}}
                    {{/each}}
                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                        {{#each productdetails.images}}
                        <div class="thumbnail text-center m-1 px-2"> <img onclick="change_image(this)" src="{{path}}"
                                width="80"> </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="small mb-1">Product Id : {{productdetails._id}}</div>
                <h1 class="display-5 fw-bolder">{{productdetails.name}}</h1>
                <div class="fs-5 mb-4">
                    <span><b>₹</b> <s class="pe-1">{{productdetails.price}} </s>{{productdetails.selling_price}}</span>
                </div>

                <div>
                    <h5>Category : {{productdetails.category.title}} </h5>
                </div>
                <div>
                    <h5>Size : {{productdetails.size}} </h5>
                </div>
                <td class="p-2 "></td>
                <p class="lead">{{productdetails.product_description}}</p>
                <div class="d-flex gap-1 flex-wrap">
                    <button class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-2 "
                        type="button" onclick="addToCart('{{productdetails._id}}')">
                        <span class="material-icons-sharp">add_shopping_cart</span>
                        Add to cart
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-1 "
                        type="button" onclick="addToWishlist('{{productdetails._id}}')">
                        <span class="material-icons-sharp">favorite_border</span>
                        Add to Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class=" d-flex">
        <a class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-1 m-2 " type="button"
            href="/"><span class="material-icons-sharp">keyboard_backspace</span>
            Continue Shopping
        </a>
    </div>

</section>




</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script>


    $(document).ready(function () {
        // Check the screen width
        if ($(window).width() >= 768) {
            $('#product-img').elevateZoom({
                responsive: true,
                zoomWindowWidth: 400,
                zoomWindowHeight: 500,
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 750,
                scrollZoom: true
            });
        }
    });


    function change_image(image) {
        document.getElementById("product-img").src = image.src;
        if ($(window).width() >= 768) {
            $('#product-img').elevateZoom({
                responsive: true,
                zoomWindowWidth: 400,
                zoomWindowHeight: 500,
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 750,
                scrollZoom: true
            });
        }
    }
</script>