{{>userNavbar}}

<!-------------Product view ------------>

<section class="py-5 contents px-5">
    <div class="container p-4 px-lg-5  border rounded">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 img-fluid" id="product-img"
                    src="/images/{{image}}" alt="Product image" style="width: 400px; " /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product Id : {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span><b>₹</b> {{product.price}}</span>
                </div>
                <div>
                    <h5>Category : {{product.category.title}} </h5>
                </div>
                <div>
                    <h5>Size : {{product.size}} </h5>
                </div>

                <td class="p-2 "></td>
                <p class="lead">{{product.product_description}}</p>
                <div class="d-flex">

                    <button class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-1 m-2 "
                        type="button" onclick="addToCart('{{product._id}}')">
                        <span class="material-icons-sharp">add_shopping_cart</span>
                        Add to cart
                    </button>

                    <a class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-1 m-2 "
                        type="button" href="/checkout">
                        <span class="material-icons-sharp">bolt</span>
                        Buy This Now
                    </a>

                </div>

            </div>
        </div>
    </div>
    <div class="px-5 m-5 d-flex">
        <a class="btn btn-outline-dark flex-shrink-0 d-flex align-items-center p-2 gap-1 m-2 " type="button"
            href="/"><span class="material-icons-sharp">keyboard_backspace</span>
            Continue Shopping
        </a>
    </div>

</section>




</div>
</section>

      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script>

    $("#product-img").elevateZoom();

</script>