
{{>userNavbar}}


<section class="contents pt-5 ">

    <div class="container mt-4">
        <div class="row">
            {{#if productsdata}}
            <h4 class=" mb-5"><strong>Showing results for query "{{query}}"</strong></h4>
            {{#each productsdata}}
            <div class="col-lg-3 col-sm-6 mb-4 p-3">
                <div class=" d-flex flex-column align-items-center justify-content-center rounded product-item p-3 bg-white  border"
                   >
                    <div class="product rounded">
                        {{#each images }}
                        {{#if @first}}
                        <img src="{{path}}" class="img-fluid" alt="">

                        {{/if}}
                        {{/each}}
                        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                            <li class="icon "><span class="material-icons-sharp">favorite_border </span></li>
                            <a href="/product/{{this._id}}" class="text-dark text-decoration-none">
                                <li class="icon mx-2"> <span class="material-icons-sharp">zoom_out_map</span></li>
                            </a>
                            <li class="icon"><span onclick="addToCart('{{this._id}}')"
                                    class="material-icons-sharp">shopping_bag</span>
                            </li>
                        </ul>
                    </div>
                    <div class="title pt-4 pb-1">{{truncate name 18}}</div>
                    <div class="d-flex align-content-center justify-content-center">

                    </div>
                    <div class="price">₹ {{price}}</div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-12">
              <div class="m-auto">
                  <img src="/images/nosearchresults.png" width="200" class="img-fluid d-block m-auto">
                <h4 class="text-secondary text-center">could'nt find any results for your query "{{query}}"</h4>
              </div>
            </div>
            {{/if}}
        </div>
    </div>

</section>