{{>userNavbar}}
<section class="py-5">
  {{#if products}}
  <div class="text-center container py-4">
    <h2 class=" mb-5"><strong>Whish List</strong></h2>

    <div class="row">

      {{#each products }}
      {{#if @first}}
      {{#each products}}
      <div class="col-lg-3 col-sm-6  mb-4">
        <div class="card">
          <a class="text-decoration-none" href="/product/{{productId._id}}">
            <div class="ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              {{#each productId.images}}
              {{#if @first}}
              <img src="/images/{{filename}}" class="p-2" height="300" />
              {{/if}}

              {{/each}}

            </div>
          </a>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">{{productId.name}}</h5>
            </a>
            <a href="" class="text-reset">
              <p>{{productId.size}}</p>
            </a>
            <h6 class="mb-3">₹ {{productId.selling_price}}</h6>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
      {{/each}}

    </div>
    {{else}}
    <div class="vh-100 d-flex align-items-center justify-content-center">
      <div>

        <h6 class="text-secondary text-center mb-4">Wishlist is Empty !</h6>
        <a href="/" class="btn btn-dark   text-white m-auto d-flex gap-1" style="max-width: 15rem;">
          <span class="material-icons-sharp">keyboard_backspace</span>
          Continue shopping</a>
      </div>

    </div>
    {{/if}}


</section>